<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Olá Bem vido ao meus projetos</h1>
    <div id="parent-div">
        <div id="child-div">
            <div id="project">
               <img src="/img/CRUD-removebg-preview.png">
               <h2>CRUD</h2>
               <a href="crud">Acesse Agora</a>
            </div>
             <div id="project">
               <img src="/img/previsaodotempo-removebg-preview.png">
               <h2>PREVISÃO DO TEMPO</h2>
               <a href="prev">Acesse Agora</a>
            </div>
             <div id="project">
               <img src="/img/botdiscord-removebg-preview.png">
               <h2>BOT PARA DISCORD</h2>
               <a href="discord">Acesse Agora</a>
            </div>
        </div>
    </div><br>

    <a href="/profile">Volte ao seu Perfil</a>
</body>
</html>